<!DOCTYPE html>
<html lang="{{ site:short_locale }}">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ title ?? site:name }}</title>
    {{ vite src="resources/js/site.js|resources/css/site.css" }}
  </head>
  <body class="bg-gray-100 font-sans leading-normal text-gray-800">
    <nav class="relative bg-white shadow-md w-screen p-5">
      <ul class="flex w-1/2 gap-4 justify-start items-center">
        <li>
          <a
            href="{{site:url}}"
            class="py-2 px-6 ring-2 block transition ring-slate-200 hover:ring-slate-400 rounded-md hover:bg-slate-100 hover:scale-105"
          >
            home
          </a>
        </li>
        <li>
          <a
            href="{{site:url}}"
            class="py-2 px-6 ring-2 block transition ring-slate-200 hover:ring-slate-400 rounded-md hover:bg-slate-100 hover:scale-105"
          >
            other
          </a>
        </li>
        <li>
          <a
            href="{{site:url}}"
            class="py-2 px-6 ring-2 block transition ring-slate-200 hover:ring-slate-400 rounded-md hover:bg-slate-100 hover:scale-105"
          >
            other
          </a>
        </li>
      </ul>
    </nav>
    <div
      class="mx-auto px-2 lg:min-h-screen flex flex-col items-center justify-center"
    >
      {{ template_content }}
    </div>
  </body>
</html>
